APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


CF_API_TOKEN=
CF_ZONE_ID=
CF_PROXIED=true

TENANT_DNS_RECORD_TYPE=A
TENANT_DNS_TARGET=178.128.126.205
TENANT_DNS_TTL=1

TENANT_FRONTEND_BASE_PATH=/var/www/html/rakomsis_v_4_0/front_end
TENANT_FRONTEND_TEMPLATE_PATH=/var/www/html/rakomsis_v_4_0/front_end/rakomsis_4_0_vue
TENANT_FRONTEND_API_URL=https://apps-gateway.rakomsis.com
TENANT_FRONTEND_FILE_URL=https://apps-file.rakomsis.com
TENANT_FRONTEND_RUN_BUILD=true
TENANT_FRONTEND_INSTALL_COMMAND="npm install --no-fund --no-audit"
TENANT_FRONTEND_BUILD_COMMAND="npm run build"

TENANT_NGINX_SITES_AVAILABLE=/etc/nginx/sites-available
TENANT_NGINX_SITES_ENABLED=/etc/nginx/sites-enabled
TENANT_NGINX_SSL_CERT=/etc/ssl/certs/rakomsis.crt
TENANT_NGINX_SSL_KEY=/etc/ssl/private/rakomsis.key
TENANT_NGINX_PHP_FPM_SOCKET=/var/run/php/php8.3-fpm.sock
TENANT_NGINX_SECURITY_INCLUDE=nginxconfig.io/security.conf
TENANT_NGINX_GENERAL_INCLUDE=nginxconfig.io/general.conf
TENANT_NGINX_TEST_COMMAND="nginx -t"
TENANT_NGINX_RELOAD_COMMAND="systemctl reload nginx"

